@import "./aurora_bg.scss";

body.book-layout-landing {
	@include aurora_bg_landing;
	background-color: #000000;
}

body.book-type-docs {
	@include aurora_bg_docs;
	background-color: #000033;
}

.container {
	width: 100%;
}

pre {
	background-color: rgb(0, 30, 64) !important;
	border: 2px solid #008cff !important;
}
