@import "./aurora_bg.scss";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: baseline;
}

.w_splash_image {
	width: 800px;
	max-width: 80vw !important;
}

.w_landing_content {
	position: relative;
	padding: 32px;
}

.w_black_section h1 {
	margin: 0 !important;
}

.w_button {
	border-radius: 8px;
	border: 2px solid #008cff;
	background-color: rgba(0, 102, 204, 0.35);
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	align-items: center;
	gap: 16px;

	color: white !important;
	width: fit-content;
}

.w_button:hover {
	background-color: rgba(0, 102, 204, 1);
}

.w_landing_buttons {
	display: flex;
	width: fit-content;
	gap: 8px;
}

.w_footer_parent {
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	background-color: rgba(0, 34, 68, 0.8);
	margin-top: auto;
	color: white;
	border-top: 2px solid #008cff;

	gap: 8px;
	display: flex;
	flex-direction: column;

	z-index: 1;
}
