@import "./aurora_bg.scss";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: baseline;
}

.w_title {
	margin: 0 !important;
	font-weight: bold !important;
}

.w_desc {
	margin: 0 !important;
}

.w_splash_image {
	width: 600px;
	max-width: 80vw !important;
}

.w_landing_content_parent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.neon_border {
	background-color: rgba(0, 30, 60, 0.75);
	padding: 16px;
	border-radius: 8px;
	border: 2px solid #008cff44;
}

.w_landing_content {
	position: relative;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	width: fit-content;
	justify-self: center;
	@extend .neon_border;

	padding: 32px;
}

.w_black_section h1 {
	margin: 0 !important;
}

.w_button {
	border-radius: 8px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	min-width: 200px;
	min-height: 96px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-weight: bold;

	border: 2px solid #008cff;
	background-color: rgba(0, 102, 204, 0.35);
	color: white !important;
	width: 100%;
}

.w_button:hover {
	background-color: rgba(0, 102, 204, 1);
}

.w_landing_buttons {
	display: flex;
	width: fit-content;
	justify-content: center;
	gap: 8px;
	margin-top: 16px;
	flex-wrap: wrap;
}

.w_footer_parent {
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	background-color: rgba(0, 34, 68, 0.8);
	margin-top: auto;
	color: white;
	border-top: 2px solid #008cff;

	gap: 8px;
	display: flex;
	flex-direction: column;

	z-index: 1;
}
